/* CSS for the search bar and brand logo */
.top-bar {
  background-color: #f1f1f1;
  padding: 10px;
  display: flex;
  align-items: center;
}

.brand-logo {
  margin-right: 20px;
  position: relative;
}

.logo-img {
  width: 200px;
  height: 100px;
}
.search-bar-container {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar {
  width: 50%;
  padding: 5px;
}

.cart-icon {
  margin-left: 20px;
}

/* CSS for the menu */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
}

li {
  /* float: left; */ /* No longer needed */
}

li a {
  display: block;
  color: #333;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #ddd;
}

li a.active {
  background-color: #4caf50;
  color: white;
}

/* CSS for the submenu */
.submenu {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

li:hover .submenu {
  display: block;
  opacity: 1;
}

.submenu a {
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.submenu a:hover {
  background-color: #ddd;
}

/* CSS for the slider section */
.slider-section {
  background-color: #f9f9f9;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  z-index: -1;
}

.slider-container {
  width: 60%;
}

.banner-container {
  width: 40%;
  display: flex;
  flex-wrap: wrap;
}

.banner {
  background-color: #4caf50;
  color: white;
  padding: 20px;
  margin: 10px;
  flex-basis: calc(50% - 20px);
}

.banner h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.banner p {
  font-size: 16px;
}
.slider-banner {
  background-color: #4caf50;
  color: white;
  padding: 20px;
  margin: 10px;
  height: 100%;
  box-sizing: border-box;
}

/* CSS for the tab section */
.tab-section {
  background-color: #ffffff;
  padding: 20px;
  text-align: center;
  height: 400px;
}

.tab {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ddd;
  color: #333;
  cursor: pointer;
}

.tab-content {
  display: none;
  padding: 20px;
  background-color: #fff;
}